/*
 * thematous.css
 */
.listing {
  width: 90%; 
  border: solid 1px black;
  padding: 2px;
}

.listing li.even {
  background-color: #E0E0E0;
}

.listing li.odd {
  background-color: #FFF;
}

ol.listing { 
  background: #C0C0C0 2.3em 0 repeat-y; 
  overflow: auto; 
  font-family: "Courier New",Courier,mono; 
  margin: 0; 
  padding: 1em 0 1em 2.8em; 
  color: #FFF; 
}

.listing li { 
  background: #ffc; 
  font-size: small; 
}

.listing code {
  color: #036;
  white-space: pre;
}
